<p>A recovery email has been sent to your email address. Please check your inbox for further instructions.</p>
<button onclick="location.href='/login'">Back to Login</button>
<link rel="stylesheet" type="text/css" href="css/password-reset-message.css">